<p>menu:</p>
<ul>
  <li><a [routerLink]="['/composant']">1.composant</a></li>
  <li><a [routerLink]="['/Binding']">2.Binding</a></li>
  <li><a [routerLink]="['/directives']">3.directives</a></li>
  <li></li>
  <li><a [routerLink]="['/formulaire']">5.formulaire</a></li>
  <li></li>
  <li><a [routerLink]="['/input']">7.@input</a></li>
  <li><a [routerLink]="['/output']">8.@output</a></li>
  <li></li>
  <li><a [routerLink]="['/services']">10.services</a></li>
  <li></li>
</ul>

<router-outlet></router-outlet>