<div class="boder-component">
    <H2>composant 1 bis pour affichage des 4 cubes</H2>
    <p>ceci est un deuxieme composant qui affichera les 4 cubes dans router-outlet sans avoir à mettre les balises dans
        app-component.html</p>
    <p>ce qui revient à afficher une page html de composants</p>

    <div class="block">
        <div class="h-block"><app-ang-un-composant></app-ang-un-composant> <app-ang-un-composant></app-ang-un-composant>
        </div>
        <div class="h-block"><app-ang-un-composant></app-ang-un-composant> <app-ang-un-composant></app-ang-un-composant>
        </div>
    </div>
</div>